/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
*
{
	margin: 1px;
	/*padding: 0px;*/
}

body
{
    background-color: #3D3D3D; /*E6E6E6;*/ /*2c2c2c;*/ /*5c87b2;*/
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #000;  /*696969;*/
}

header,
footer,
nav,
section 
{
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

a
{
    color: #696969;
}

li
{
    line-height: 1.6;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}

header, #header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

header h1, #header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #EE2A24;
    border: none;
    /*line-height: 2em;*/
    font-size: 32px !important;
}

#main
{
    background: #F1F1F1;
    /*padding: 30px 30px 15px 30px;*/
    padding: 10px 10px 10px 10px;
    margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}

footer, #footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

/* MENU   
----------------------------------------------------------*/
#menu
{
    position: relative;
    margin: 0;
    text-align: right;
}

#menu .t-item
{
    border-width: 0 0 0 1px;
}

#menu .t-link
{
    padding: 5px 20px;
    font-weight: bold;
    text-decoration: none;
    /*line-height: 1.8em;*/
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/
fieldset 
{
    border:1px solid #ddd;
    padding:0.5em 1.4em 0.5em 1.4em;
    margin:0 0 0.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------*/
/*table 
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

table td 
{
  padding: 5px;
  border: solid 1px #e8eef4;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
}*/
/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.clear-left
{
    clear: left;
}

.error 
{
    color:Red;
}

.error a
{
    color:Red;
}

div#title
{
    display:block;
    text-align:left;
    float:left;
}

div.div-border
{
    border:1px solid #ddd;
}

div#topmenu
{
    clear:both;
    /*display:block;
    text-align:left;*/
}

#logindisplay
{
    float:right;
    font-size:1.1em;
    display:block;
    text-align:right;
    margin:10px;
    color:White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
    padding-left: 8px;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

.vert-space-bot
{
    margin-bottom: 20px;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label
{
    margin: 1em 0 0 0;
}

.display-field,
.editor-field
{
    margin:0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

/*
input[type="text"].text-input-upper, .text-input-upper input[type="text"]
{
    text-transform: uppercase;
}
*/
/*
th.editor-label,
td.display-label, 
th.display-field, 
td.editor-field 
*/

th.editor-label, th.display-label, 
th.editor-field, th.display-field, 
td.editor-label, td.display-label,
td.editor-field, td.display-field
{
	text-align: left;
}

th.nowrap, td.nowrap
{
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipses;
}

/* CST Scan Form Layouts
----------------------------------*/
/*.scan-form div
{
    margin: 0px 0 0px 0;
    padding: 2px 0 2px 0;
	min-height: 200px;
}*/

/* CST Hoizontal Form Layouts
----------------------------------*/
.horiz-form div
{
    margin: 0px 0 0px 0;
    padding: 2px 0 2px 0;
	min-height: 20px;
}

div.no-space
{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
	min-height: 0;
}

.horiz-form div.display-label, 
.horiz-form div.editor-label
{
	width: 150px;
	float: left;
}

.horiz-form div.display-field, 
.horiz-form div.editor-field 
{
	margin-left: 155px;
}

.horiz-form.horiz-form-wide div.display-label, 
.horiz-form.horiz-form-wide div.editor-label
{
	width: 200px;
}

.horiz-form.horiz-form-wide div.display-field, 
.horiz-form.horiz-form-wide div.editor-field 
{
	margin-left: 205px;
}

.horiz-form.horiz-form-narrow div.display-label, 
.horiz-form.horiz-form-narrow div.editor-label
{
	width: 75px;
}

.horiz-form div.buttonBox
{
    margin: 4px 0 4px 0;
    padding: 4px 0 4px 5px;
    border: 1px solid #DDD;
}

.horiz-form div.buttonBox .t-button
{
    margin-right: 10px;
}

.horiz-form div.buttonBox .t-button.botton-sep
{
    margin-left: 20px;
}

.horiz-form .in-line label
{
 margin-left: 20px;
}
 

.horiz-form div.display-label label:after, 
.horiz-form div.editor-label label:after
{
    content:":";
}

.horiz-form.horiz-form-narrow div.display-field, 
.horiz-form.horiz-form-narrow div.editor-field 
{
	margin-left: 80px;
}

.horiz-form.small-input input[type="text"],
.horiz-form div.small-input input[type="text"]
{
    width: 50px;
}

.horiz-form.medium-input input[type="text"],
.horiz-form div.medium-input input[type="text"]
{
    width: 100px;
}

.horiz-form.wide-input input[type="text"],
.horiz-form div.wide-input input[type="text"]
{
    width: 200px;
}

.horiz-form.xtra-wide-input input[type="text"],
.horiz-form div.xtra-wide-input input[type="text"]
{
    width: 400px;
}

.horiz-form img 
{
   border:none;
   vertical-align:top;
}

.horiz-form .space-after input:not(:first-child),
.horiz-form .space-after a:not(:first-child),
.horiz-form .space-after span.t-icon:not(:first-child) 
{
    margin-left: 15px;   
}

.horiz-form td, .horiz-form th {
    vertical-align:top;
}
/* Production Calendar
----------------------------------*/
#prod-cal-div
{
    margin-top: 10px;
}

#prod-cal-dropdown-div select
{
    font-size: 120%;
}

#prod-cal td:hover
{
    background-color: #e8eef4; /*#333333;*/
}

.prod-cal-dow
{
    font-size: 120%;
}

.prod-cal-day-num
{
    font-size: 150%;
}

td.prod-cal-this-month .prod-cal-day-num
{
    font-weight:bold;
}

.prod-cal-week td
{
    vertical-align: top;
    border-bottom-width: 1px;
}

td.prod-cal-this-month div.prod-cal-work-div label
{
    font-size: 130%;
    font-weight:bold;
}

td.prod-cal-this-month div.prod-cal-po-num
{
    font-size: 130%;
    font-weight:bold;
}

/* Telerik Additions
----------------------------------*/  
.t-grid-top
{    
    text-align: right;
    padding-right: 50px;
}

.t-grid-top-left
{    
    text-align: left;
    padding-right: 0px;    
}

/*.t-grid td a {color: white;}*/

.t-grid td a:hover
{
    color: #9EDA29;
}

.t-grid .t-grid-header .t-header .t-link {
    height: auto;
}
 
.t-grid .t-grid-header .t-header,
.t-grid .t-grid-header .t-last-header {
    white-space: normal;
}

.t-grid .t-grid-header th.t-header.nowrap,
.t-grid .t-grid-header th.t-last-header.nowrap 
{
    white-space:nowrap;
}

.t-go-back{background-position:-64px -160px}
.t-go-next{background-position:0 -160px}
.t-updn{background-position:-19px -515px}

a.t-button-bare:hover,
button.t-button-bare:hover
 {
    text-decoration: underline;
}

.t-grid  td.nowrap
{
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipses;
}

/* table.char-comp-opts
----------------------------------*/  

table.char-comp-opts
{
	border-collapse: collapse;
}

table.char-comp-opts th, table.char-comp-opts td
{
	/*border: 2px solid #fff;*/
	/*background-color: #EFEFEF;*/
	padding-left: 1px;
	padding-right: 10px;
	padding-top: 1px;
    padding-bottom: 1px;
    white-space: nowrap;
}

table.char-comp-opts td.indent-1
{
    text-indent:1px;
}

table.char-comp-opts td.indent-2
{
    text-indent:20px;
}

table.char-comp-opts td.indent-3
{
    text-indent:40px;
}

table.char-comp-opts tr.overriden td
{
    text-decoration: line-through;
}

/* table.layout
----------------------------------*/  

table.layout
{
	width: 100%;
	border-collapse: collapse;
}


.prdn-scan th,
.prdn-scan td
{
    padding: 1px 1px 1px 5px;
    /*max-width: 400px;*/
    max-height: 50px;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipses;
}

.right-align
{
    text-align:right;
}

#right-display
{
    float:right;
    display:block;
    text-align:right;
    margin:10px;
}

div.fileInputMatch
{
    padding: 0 0 0 0;
    min-height: 0;
    display:inline-block;
    width: 247px;
}

/* password strength formatting
----------------------------------*/

div.password-strength-border
{
    display: inline-block; 
    border-style: solid; 
    border-width: 1px; 
    padding: 1px 0 1px 0;
    min-height: 0;
    min-width: 0;
    height: 5px; 
    width: 200px;
}

div.password-strength-bar
{
    display: block; 
    padding: 0;
    min-height: 0;
    min-width: 0;
    height: 5px; 
    width: 0px; 
    background-color: blue;
}            

/*
style="position: absolute; top: 369.80303406715393px; left: 407.6363775730133px; font-size: 75%; display: inline-block; width: 240px; "
*/

/* misc formatting
----------------------------------*/  

.emphasized
{
    font-style: italic;
}

.strengthened
{
    font-weight: bolder;
}

.larger
{
    font-size:larger;
}

tr.td-top-border td { border-top: solid 2px;}

div.border-box { border:1px solid black; }

.ui-autocomplete-loading { background:url('Images/loading.gif') no-repeat right center }

.ajax-loading { background:url('Images/loading.gif') no-repeat right center }

/************************************************************************************/
td.td-updn
{
	position: relative;
}

span.updn-text
{
    margin-left: 16px;
}

a.updn {
	border-top: none;
	border-bottom: none;
	border-right: none;
	background-color: #e6e6e6;/*{bgColorDefault}*/ 
	background-image: url(themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png);/*{bgImgUrlDefault}*/ 
	background-position: 50%/*{bgDefaultXPos}*/ 50%;/*{bgDefaultYPos}*/ 
	background-repeat: repeat-x/*{bgDefaultRepeat}*/;
	width: 16px;
	height: 49%;
	padding: 0;
	margin: 0;
	position: absolute;
	display: block;
	overflow: hidden;
	left: 0;	
	cursor: pointer;
}

a.updn-up 
{
	top: 0;
}
a.updn-dn {
	bottom: 1px;
}

span.updn
{
	display: block;
	text-indent: -99999px;
	overflow: hidden;
    background-color: #adadad;
    background-image: url(themes/base/images/ui-icons_454545_256x240.png)/*{iconsDefault}*/;
	background-repeat: no-repeat;
    width: 16px;
	height: 16px;
	position: absolute;
	margin-top: -8px;
	top: 50%;
	left: 0;	
	border-width: 0px;
	cursor: pointer;
}

span.updn:hover {
    background-color: #c9c9c9;
    background-image: url(themes/base/images/ui-icons_222222_256x240.png)/*{iconsDefault}*/;
}
span.updn-up 
{
    background-position: 0 -16px;
}
span.updn-dn {
	background-position: -65px -16px;
}

