@using CST.Prdn.ViewModels

@{
    ViewBag.Title = "Manufacturers";
}

<h2>Production Manufacturers</h2>

@(
 Html.Telerik().Grid<PrdnMfgrViewModel>()
        .Name("Grid")
            .DataKeys(dataKeys => dataKeys.Add(m => m.ID))
        .ToolBar(commands => commands.Insert().ButtonType(GridButtonType.ImageAndText).ImageHtmlAttributes(new { style = "margin-left:0" }))
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("_SelectMfgr", "Maintenance")
                .Insert("_InsertMfgr", "Maintenance")
                .Update("_SaveMfgr", "Maintenance")
                .Delete("_DeleteMfgr", "Maintenance");
        })
        .Columns(columns =>
        {
            columns.Bound(m => m.ID).Width(50).ReadOnly();
            columns.Bound(m => m.Code).Width(100).HtmlAttributes(new { @class = "text-input-upper" });
            columns.Bound(m => m.Name).Width(300);
            columns.Bound(m => m.CstVendorID).Width(300);
            columns.Bound(m => m.Active).ClientTemplate("<input type='checkbox' disabled='disabled' name='Active' <#= Active? checked='checked' : '' #> />");
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.ImageAndText);
                commands.Delete().ButtonType(GridButtonType.ImageAndText);
            }).Width(220).Title("Commands");
                               
        })
        .Editable(editing => editing.Mode(GridEditMode.InLine))
        .Pageable()
        .Scrollable()
        .Sortable()
)

@{Html.Telerik().ScriptRegistrar().OnDocumentReady(@<text>
    bindTGridUpper();
</text>);}
