@model CST.Prdn.ViewModels.ProductLookupModel
    <div class="display-label">
        @Html.LabelFor(model => model.Cost)
    </div>
    <div class="display-field">
        @Html.SpanAndHiddenFor(model => model.Cost)
    </div>