@model CST.Prdn.ViewModels.EditPrdnJobViewModel


    <div class="display-label cstRequest">
        @Html.LabelFor(model => model.CstRequestID)
    </div>
    <div class="display-field cstRequest">
        @Html.DisplayOrDashFor(model => model.CstRequestID)
    </div>
