@model CST.Prdn.ViewModels.EditPrdnJobViewModel

    <div class="display-label">
        @Html.LabelFor(model => model.PurchaseOrder)
    </div>
    <div class="display-field">
        @Html.DisplayOrDashFor(model => model.PurchaseOrder) 
    </div>