@model CST.Prdn.ViewModels.EditPrdnJobViewModel
           
        <div class="editor-label">
            @Html.LabelFor(model => model.RunSeqNo)
        </div>
        <div class="editor-field small-input">
            @Html.SpanOrDashAndHiddenFor(model => model.RunSeqNo)
        </div>

