<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="IsisEntities"
         connectionString="metadata=res://*/IsisModel.csdl|res://*/IsisModel.ssdl|res://*/IsisModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.11)(PORT=1522)) (CONNECT_DATA=(SERVICE_NAME = TEST.CSTDI.COM)));PASSWORD=tigger;USER ID=SYSADM&quot;"
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="PrdnEntities"
         connectionString="metadata=res://*/PrdnModel.csdl|res://*/PrdnModel.ssdl|res://*/PrdnModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.11)(PORT=1522)) (CONNECT_DATA=(SERVICE_NAME = TEST.CSTDI.COM)));PASSWORD=tigger;USER ID=SYSADM&quot;"
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="OraIsis"
         connectionString="DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.11)(PORT=1522)) (CONNECT_DATA=(SERVICE_NAME = TEST.CSTDI.COM)));PASSWORD=tigger;USER ID=SYSADM"
         providerName="Oracle.DataAccess.Client"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="UtilEntities"
        connectionString="metadata=res://*/UtilModel.csdl|res://*/UtilModel.ssdl|res://*/UtilModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.4.13)(PORT=1521)) (CONNECT_DATA=(SERVICE_NAME = FSYS)));PASSWORD=bucklers;USER ID=SYSADM&quot;"
        providerName="System.Data.EntityClient"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  
  <appSettings>
    <add key="Configuration" value="Release" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RequireSSL" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
</configuration>